@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
:root{
    --prime-color: linear-gradient(rgb(243, 147, 37),rgb(216, 44, 1));
    --green-color: linear-gradient(rgb(59, 249, 69),rgb(3, 101, 19));
    --font-style: 'New Tegomin', serif;
    --border: 0.2rem solid black;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
.body{
    background-image: url("src/bgImage.png");
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#board{
    background: linear-gradient(rgb(152, 224, 152), rgb(234, 234, 152));
    width: 90vmin;
    height: 90vmin;
    border: var(--border);
    border-radius: 1%;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    z-index: 100;
}
.head{
    background: linear-gradient(rgb(255, 136, 0),rgb(216, 44, 1));
    border: var(--border);
    border-radius: 22%;
    transform: scale(1.02);
}
.snake{
    background: linear-gradient(rgb(2, 2, 114), rgb(16, 124, 239));
    border: var(--border);
    border-radius: 32%;

}
.food{
    background: linear-gradient(purple, rgb(237, 153, 237));
    border: var(--border);
    border-radius: 45%;
}
#scoreBox{
    position: absolute;
    bottom: 5rem;
    left: 3.5rem;
    font-size: 3.5rem;
    font-weight: bold;
    border: var(--border);
    padding: 1.2rem;
    border-radius: 2.2rem;
    background: var(--prime-color);
    font-family: var(--font-style);
    
}
#highScoreBox{
    position: absolute;
    bottom: 14rem;
    left: 3.5rem;
    font-size: 3.5rem;
    font-weight: bold;
    border: var(--border);
    padding: 1.5rem;
    border-radius: 2.2rem;
    background: var(--prime-color);
    font-family: var(--font-style);
    
}
#confirm{
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    font-size: 5.5rem;
    width: 53.2rem;
    height: 19.4rem;
    font-weight: bold;
    border: var(--border);
    padding: 0.5rem 2.5rem;
    border-radius: 2.2rem;
    background: var(--prime-color);
    font-family: var(--font-style);   
    display: none;
    z-index: 1000;
}
#speedBox{
    position: absolute;
    text-align: center;
    top: 6rem;
    right: 6.5rem;
    font-size: 2.5rem;
    width: 13.2rem;
    height: 9.4rem;
    font-weight: bold;
    border: var(--border);
    padding: 1rem 2.5rem;
    border-radius: 2.2rem;
    background: var(--prime-color);
    font-family: var(--font-style);   
}
#btn{
    font-size: 2.1rem;
    font-weight: bolder;
    cursor: pointer;
    border: var(--border);
    padding: 1.5rem;
    border-radius: 2.2rem;
    background: var(--green-color);
    font-family: var(--font-style);   
}
.speedBtn{
    font-size: 2.1rem;
    font-weight: bolder;
    cursor: pointer;
    border: var(--border);
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 2.2rem;
    background: var(--green-color);
    font-family: var(--font-style);   
}

.speedBtn:hover ,#btn:hover{
    color: white;
    border: 0.2rem solid white;
}